<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
      <!-- https://devdocs.magento.com/guides/v2.3/ext-best-practices/extension-coding/example-module-adminpage.html -->

      <add id="UplandSoftwareWerx_BigDaddy::parent" 
           title="Upland Software Werx" 
           translate="title" 
           module="UplandSoftwareWerx_BigDaddy" 
           parent="Magento_Backend::system" 
           sortOrder="50"
           dependsOnModule="UplandSoftwareWerx_BigDaddy" 
           resource="UplandSoftwareWerx_BigDaddy::parent"/>

      <add id="UplandSoftwareWerx_BigDaddy::parent_child" 
           title="Sandbox" 
           translate="title" 
           module="UplandSoftwareWerx_BigDaddy" 
           parent="UplandSoftwareWerx_BigDaddy::parent" 
           sortOrder="10" 
           dependsOnModule="UplandSoftwareWerx_BigDaddy" 
           action="bigdaddy/sandbox" 
           resource="UplandSoftwareWerx_BigDaddy::parent"/>

    </menu>
</config>
